  .connectorListItem:hover {
	cursor: pointer;
	background-color: #aaa;
  }
 .linkTypeList {
	  border: 1px solid gainsboro;
	  padding-left: 5px;
	overflow:hidden; 
	overflow-y:scroll;
	list-style: none;
	height: 300px;
	/* width: 115px; */
  }
  
  .connectorListSelectedItem {
	background-color: #aaa;
  }
  
  .cursor-pointer{
	cursor: pointer;
  }
  
  .connector {
	text-align: center;
  }
.item-row {
	cursor: pointer;
}

.item-row svg {
	height: 30px;
	width: 30px;
}

.item-type-row svg {
	height: 30px;
	width: 30px;
	cursor: pointer;
}

.link-type-row {
	cursor: pointer;
}
.link-type-row svg {
	height: 10px;
	width: 100px;
}

.key-title {
	font-size: x-large;
	font-weight: bold;
}
.link {
	stroke: rgb(231, 209, 209);
	stroke-width: 2px;
  }
.item-context-menu {
	stroke: transparent;
	opacity: 0.3;
}
.item-context-menu-hover {
	fill: white;
	cursor: pointer;
	opacity: 0.7;
	stroke: black;
}


.fade-in {
	animation: fadeIn ease 0.25s;
	-webkit-animation: fadeIn ease 0.25s;
	-moz-animation: fadeIn ease 0.25s;
	-o-animation: fadeIn ease 0.25s;
	-ms-animation: fadeIn ease 0.25s;
	}
	@keyframes fadeIn {
	0% {opacity:0;}
	100% {opacity:1;}
	}
	
	@-moz-keyframes fadeIn {
	0% {opacity:0;}
	100% {opacity:1;}
	}
	
	@-webkit-keyframes fadeIn {
	0% {opacity:0;}
	100% {opacity:1;}
	}
	
	@-o-keyframes fadeIn {
	0% {opacity:0;}
	100% {opacity:1;}
	}
	
	@-ms-keyframes fadeIn {
	0% {opacity:0;}
	100% {opacity:1;}
	}