  .connectorListItem:hover {
	cursor: pointer;
	background-color: #aaa;
  }
 .linkTypeList {
	  border: 1px solid gainsboro;
	  padding-left: 5px;
	overflow:hidden; 
	overflow-y:scroll;
	list-style: none;
	height: 300px;
	/* width: 115px; */
  }
  
  .connectorListSelectedItem {
	background-color: #aaa;
  }
  
  .cursor-pointer{
	cursor: pointer;
  }
  
  .connector {
	text-align: center;
  }
.item-row {
	cursor: pointer;
	content-visibility: auto;
}

.item-row svg {
	height: 30px;
	width: 30px;
}

.item-type-row svg {
	height: 30px;
	width: 30px;
	cursor: pointer;
}

.link-type-row {
	cursor: pointer;
}
.link-type-row svg {
	height: 10px;
	width: 100px;
}

.key-title {
	font-size: x-large;
	font-weight: bold;
}
.link {
	stroke: rgb(231, 209, 209);
	stroke-width: 2px;
  }
.item-context-menu {
	stroke: transparent;
	opacity: 0.3;
}
.item-context-menu-hover {
	fill: white;
	cursor: pointer;
	opacity: 0.7;
	stroke: black;
}

.context-label {
	font-size: larger;
}
.fade-in {
	animation: fadeIn ease 0.25s;
	-webkit-animation: fadeIn ease 0.25s;
	-moz-animation: fadeIn ease 0.25s;
	-o-animation: fadeIn ease 0.25s;
	-ms-animation: fadeIn ease 0.25s;
	}
	@keyframes fadeIn {
	0% {opacity:0;}
	100% {opacity:1;}
	}
	
	@-moz-keyframes fadeIn {
	0% {opacity:0;}
	100% {opacity:1;}
	}
	
	@-webkit-keyframes fadeIn {
	0% {opacity:0;}
	100% {opacity:1;}
	}
	
	@-o-keyframes fadeIn {
	0% {opacity:0;}
	100% {opacity:1;}
	}
	
	@-ms-keyframes fadeIn {
	0% {opacity:0;}
	100% {opacity:1;}
	}
.items-page {
	margin-bottom: 4em;
	padding-left: 1em;
	padding-right: 1em;
}

	@page {
		size: A4 landscape;
	  }
	  
	  .full-screen-modal {
		padding: 0 !important;
	  }
	  .full-screen-modal .modal-dialog {
		width: 100%;
		max-width: none;
		height: 100%;
		margin: 0;
	  }
	  .full-screen-modal .modal-content {
		height: 100%;
		border: 0;
		border-radius: 0;
	  }
	  .full-screen-modal .modal-body {
		overflow-y: auto;
	  }

	  .full_modal-dialog {
		width: 98% !important;
		height: 92% !important;
		min-width: 98% !important;
		min-height: 92% !important;
		max-width: 98% !important;
		max-height: 92% !important;
		padding: 0 !important;
	  }
	  
	  .full_modal-content {
		height: 99% !important;
		min-height: 99% !important;
		max-height: 99% !important;
	  }
	  .ripple {
		fill: none;
		stroke: black;
	  }
	  
	  .progress-hidden {
		/*visibility: hidden;*/
		opacity: 0;
		transition: opacity 2s linear 0.5s;
	  }
	  .progress-visible {
		/* visibility: visible; */
		opacity: 1;
		transition: opacity 0s 0.2s linear 0.2s;
	  }

	  .node {
		fill: transparent;
		stroke: steelblue;
		stroke-width: 3px;
		padding-top: 10px;
		border-radius: 5px;
	}
	.embedded-items-container text {
	}
